{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "parserOptions": {
        "react/prefer-stateless-function": false
    },
    "env": {
        "browser": true,
        "node": true
    }
}